version: '3.3'

services:
  webserver_php7:
    build:
      context: ./docker/webserver
      args:
        XDEBUG_ENABLED: ${php_xdebug_enabled}
        MEMINFO_ENABLED: ${php_meminfo_enabled}
        USER_UID: ${uid}
    volumes:
      - ${http_docroot}:/var/www/html
    ports:
      - "${http_port}:80"
    restart: unless-stopped
    environment:
      XDEBUG_CONFIG: client_host=host.docker.internal client_port=${php_xdebug_port}
      XDEBUG_MODE: ${php_xdebug_mode}
    networks:
      - php8_default

  mysql_57:
    image: mysql:5.7
    volumes:
      - ./docker/mysql/conf:/etc/mysql/conf.d
      - ${mysql_datadir}:/var/lib/mysql
    ports:
      - "${mysql_port}:3306"
    restart: unless-stopped
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_ROOT_PASSWORD: ${mysql_root_pw}

  adminer_57:
    image: adminneoorg/adminneo:devel
    restart: unless-stopped
    ports:
      - "${adminer_port}:8080"
    environment:
      NEO_COLOR_VARIANT: green
      NEO_NAVIGATION_MODE: reversed
      NEO_PREFER_SELECTION: true
      NEO_JSON_VALUES_DETECTION: true
      NEO_JSON_VALUES_AUTO_FORMAT: true
      NEO_DEFAULT_DRIVER: mysql
      NEO_DEFAULT_SERVER: mysql


volumes:
  mysql:

networks:
  php8_default:
    external: true